body {
  margin: 0;
  background: #efeeee;
}

.navbar {
  background: white;
  padding-right: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: right;
  box-shadow: 0px 10px rgb(226, 226, 226);
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: blue;
}

.link {
  margin-right: 15px;
}

#box-profile {
  border-radius: 10px;
  background: white;
  margin-left: 5%;
  margin-top: 30px;
  width: 90%;
  float: left;
}

.bagian-foto {
  border-radius: 50%;
  width: 17%;
  height: 15vw;
  background-image: url(4x6-1.JPG);
  margin: 30px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  float: left;
}

.info-profile {
  width: 30%;
  float: left;
  padding-top: 20px;
}

.info-lanjutan {
  width: 15%;
  float: left;
  padding-top: 30px;
}

.info-lanjutan-isi {
  width: 15%;
  float: left;
  padding-top: 30px;
}

#box-input {
  border-radius: 10px;
  background: white;
  margin-left: 5%;
  margin-top: 45px;
  padding: 20px;
  width: 87%;
  float: left;
  margin-bottom: 30px;
}

.form {
  width: 100%;
  display: grid;
}

.button-atas {
  width: 8em;
  height: 5ex;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 10px;
  font-weight: bold;
  color: green;
  cursor: pointer;
}

.button-atas:hover {
  background-color: blue;
  color:white
}

.input-form {
  width: 100%;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 5px;
  font-weight: bold;
  color: green;
  cursor: pointer;
}

.input-form:hover {
  background-color: blue;
  color:white
}